template_path: ./crd.template

# List of repositories containing CRDs.
# Sequence is important here if several repos provide the same CRD (based on the full name).
# In this case, the first repo "wins". Subsequent repos adding the same CRD will result in a
# warning.
source_repositories:
  - url: ssh://git@github.com:giantswarm/honeybadger-notepad.git
    organization: giantswarm
    short_name: honeybadger-notepad
    commit_reference: play-with-kratix
    crd_paths:
      - dev-platform/kratix/dev-platform-promises
    metadata:
      githubrepos.promise.platform.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - kratix
          - gitrepos
      appdeployments.promise.platform.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - kratix
          - app-deployments

  - url: https://github.com/giantswarm/crossplane-gs-apis
    organization: giantswarm
    short_name: crossplane-gs-apis
    commit_reference: main
    crd_paths:
      - crossplane.giantswarm.io/xaws/package/xrds
      - crossplane.giantswarm.io/xcache/package/xrds
      - crossplane.giantswarm.io/xdatabase/package/xrds
      - crossplane.giantswarm.io/xnetworks/package/xrds
    cr_paths:
      - crossplane.giantswarm.io/xaws/examples
      - crossplane.giantswarm.io/xcache/examples
      - crossplane.giantswarm.io/xdatabase/examples
      - crossplane.giantswarm.io/xnetworks/examples
    metadata:
      peeredvpcnetworks.xnetworks.crossplane.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - aws
          - crossplane
          - networks
          - vpc
      subnetsets.xnetworks.crossplane.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - aws
          - crossplane
          - networks
      rdsbases.xdatabase.crossplane.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - aws
          - crossplane
          - database
          - rds
      cachebases.xcache.crossplane.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - aws
          - cache
          - crossplane
          - elasticache
      rccwithregionlookups.xaws.crossplane.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - aws
          - cache
          - crossplane
          - database
          - elasticache
          - rds
      rdscacheclusters.xaws.crossplane.giantswarm.io:
        owner:
          - https://github.com/orgs/giantswarm/teams/team-honeybadger
        topics:
          - aws
          - cache
          - crossplane
          - database
          - elasticache
          - rds